cluster-id: test-k8s
username: root
password: "openEuler12#$"
masters:
- name: master1
  ip: 192.168.122.114
  port: 22
  arch: arm64
workers:
- name: master1
  ip: 192.168.122.114
  port: 22
  arch: arm64
- name: work1
  ip: 192.168.122.115
  port: 22
  arch: arm64
runtime: iSulad
runtime-endpoint: unix:///var/run/isulad.sock
pause-image: docker.io/mirrorgcrio/pause:3.2
open-ports:
  worker:
  - port: 111
    protocol: tcp
  - port: 179
    protocol: tcp
install:
  container:
  - name: iSulad
    type: repo
  addition:
    master:
    - name: https://docs.projectcalico.org/v3.25/manifests/calico.yaml
      type: yaml