cluster-id: offline
username: root
password: "openEuler12#$"
masters:
- name: master1
  ip: 192.168.122.114
  port: 22
  arch: arm64
workers:
- name: master1
  ip: 192.168.122.114
  port: 22
  arch: arm64
- name: worker1
  ip: 192.168.122.115
  port: 22
  arch: arm64
open-ports:
  worker:
  - port: 111
    protocol: tcp
  - port: 179
    protocol: tcp
install:
  package-source:
    type: tar.gz
    dstpath: ""
    srcpath:
      arm64: /data/haozi/eggo/packages/packages-arm64.tar.gz
      amd64: /data/haozi/eggo/packages/packages-amd64.tar.gz
  etcd:
  - name: etcd,etcdctl
    type: bin
    dst: /usr/bin
  kubernetes-master:
  - name: kube-apiserver,kube-controller-manager,kube-scheduler,kubectl
    type: bin
    dst: /usr/bin
  kubernetes-worker:
  - name: kubelet,kube-proxy,kubectl
    type: bin
    dst: /usr/bin
  container:
  - name: containerd,containerd-shim,ctr,docker,dockerd,docker-init,docker-proxy,runc
    type: bin
    dst: /usr/bin
  network:
  - name: bandwidth,dhcp,flannel,host-local,loopback,portmap,sbr,tuning,vrf,bridge,firewall,host-device,ipvlan,macvlan,ptp,static,vlan
    type: bin
    dst: /opt/cni/bin
  image:
  - name: images.tar
    type: image
  dns:
  - name: coredns
    type: bin
    dst: /usr/bin
  addition:
    master:
    - name: calico.yaml
      type: yaml
    worker:
    - name: conntrack,socat
      type: bin
      dst: /usr/bin