cluster-id: k8s-cluster
username: root
password: "123456"
masters:
- name: centos1
  ip: 192.168.0.1
  port: 22
  arch: amd64
workers:
- name: centos1
  ip: 192.168.0.1
  port: 22
  arch: amd64
- name: centos2
  ip: 192.168.0.2
  port: 22
  arch: amd64
install:
  package-source:
    type: tar.gz
    dstpath: ""
    armsrc: /root/packages/pacakges-arm.tar.gz
    x86src: /root/packages/packages-x86.tar.gz
  etcd:
  - name: etcd,etcdctl
    type: bin
    dst: /usr/bin
  kubernetes-master:
  - name: kube-apiserver,kube-controller-manager,kube-scheduler,kubectl
    type: bin
    dst: /usr/bin
  kubernetes-worker:
  - name: kubelet,kube-proxy,kubectl
    type: bin
    dst: /usr/bin
  container:
  - name: containerd,containerd-shim,ctr,docker,dockerd,docker-init,docker-proxy,runc
    type: bin
    dst: /usr/bin
  - name: docker.service
    type: file
    dst: /usr/lib/systemd/system/
  network:
  - name: bandwidth,dhcp,flannel,host-local,loopback,portmap,sbr,tuning,vrf,bridge,firewall,host-device,ipvlan,macvlan,ptp,static,vlan
    type: bin
    dst: /opt/cni/bin
  image:
  - name: images.tar
    type: image
  addition:
    master:
    - name: calico.yaml
      type: yaml
    - name: coredns
      type: bin
      dst: /usr/bin
    worker:
    - name: conntrack,socat
      type: bin
      dst: /usr/bin
