cluster-id: k8s-cluster
username: root
password: "123456"
masters:
- name: centos1
  ip: 192.168.0.1
  port: 22
  arch: amd64
nodes:
- name: centos1
  ip: 192.168.0.1
  port: 22
  arch: amd64
- name: centos2
  ip: 192.168.0.2
  port: 22
  arch: amd64
external-ca: false
external-ca-path: /opt/externalca
service:
  cidr: 10.32.0.0/16
  dnsaddr: 10.32.0.10
  gateway: 10.32.0.1
network:
  podcidr: 10.244.0.0/16
  plugin: ""
  pluginargs: {}
apiserver-endpoint: 192.168.0.1:6443
apiserver-cert-sans:
  dnsnames: []
  ips: []
apiserver-timeout: 120s
etcd-external: false
etcd-token: etcd-cluster
dns-vip: 10.32.0.10
dns-domain: cluster.local
pause-image: k8s.gcr.io/pause:3.2
network-plugin: cni
cni-bin-dir: /opt/cni/bin
runtime: docker
registry-mirrors: []
insecure-registries: []
config-extra-args: []
addons:
- type: file
  filename: calico.yaml
open-ports:
  node:
  - port: 111
    protocol: tcp
  - port: 179
    protocol: tcp
package-src:
  type: tar.gz
  distpath: ""
  armsrc: /root/pkgs/pacakges-arm.tar.gz
  x86src: /root/pkgs/packages-x86.tar.gz
pacakges:
  etcd:
  - name: "{etcd,etcdctl}"
    type: binary
    dstpath: /usr/bin
  master:
  - name: "{kube-apiserver,kube-controller-manager,kube-scheduler,kubectl,coredns}"
    type: binary
    dstpath: /usr/bin
  - name: addons
    type: binary
    dstpath: /etc/kubernetes
  node:
  - name: "{kubelet,kube-proxy,kubectl}"
    type: binary
    dstpath: /usr/bin
  - name: "{containerd,containerd-shim,ctr,docker,dockerd,docker-init,docker-proxy,runc}"
    type: binary
    dstpath: /usr/bin
  - name: docker.service
    type: binary
    dstpath: /usr/lib/systemd/system/
  - name: "{bandwidth,dhcp,flannel,host-local,loopback,portmap,sbr,tuning,vrf,bridge,firewall,host-device,ipvlan,macvlan,ptp,static,vlan}"
    type: binary
    dstpath: /opt/cni/bin
  - name: "{conntrack,socat}"
    type: binary
    dstpath: /usr/bin
