cluster-id: k8s-openEuler
username: root
password: "123456"
masters:
- name: openEuler1
  ip: 192.168.0.1
  port: 22
  arch: arm64
workers:
- name: openEuler1
  ip: 192.168.0.1
  port: 22
  arch: arm64
- name: openEuler2
  ip: 192.168.0.2
  port: 22
  arch: arm64
runtime: iSulad
runtime-endpoint: unix:///var/run/isulad.sock
open-ports:
  worker:
  - port: 111
    protocol: tcp
  - port: 179
    protocol: tcp
install:
  package-source:
    type: tar.gz
    dstpath: ""
    srcpath:  
      arm64: /root/packages/packages-arm64.tar.gz
      amd64: /root/packages/packages-amd64.tar.gz
  container:
  - name: iSulad
    type: repo
  image:
  - name: images.tar
    type: image
  dns:
  - name: coredns
    type: pkg
  addition:
    master:
    - name: calico.yaml
      type: yaml
