cluster-id: k8s-openEuler
username: root
password: "123456"
masters:
- name: openEuler1
  ip: 192.168.0.1
  port: 22
  arch: arm64
nodes:
- name: openEuler1
  ip: 192.168.0.1
  port: 22
  arch: arm64
- name: openEuler2
  ip: 192.168.0.2
  port: 22
  arch: arm64
external-ca: false
external-ca-path: /opt/externalca
service:
  cidr: 10.32.0.0/16
  dnsaddr: 10.32.0.10
  gateway: 10.32.0.1
  dns:
    corednstype: binary
network:
  podcidr: 10.244.0.0/16
  plugin: ""
  pluginargs: {}
apiserver-endpoint: 192.168.0.1:6443
apiserver-cert-sans:
  dnsnames: []
  ips: []
apiserver-timeout: 120s
etcd-external: false
etcd-token: etcd-cluster
dns-vip: 10.32.0.10
dns-domain: cluster.local
pause-image: k8s.gcr.io/pause:3.2
network-plugin: cni
cni-bin-dir: /opt/cni/bin,/usr/libexec/cni
runtime: iSulad
runtime-endpoint: unix:///var/run/isulad.sock
registry-mirrors: []
insecure-registries: []
config-extra-args: []
open-ports:
  node:
  - port: 111
    protocol: tcp
  - port: 179
    protocol: tcp
package-src:
  type: tar.gz
  distpath: ""
  armsrc: /root/pkgs/pacakges-arm.tar.gz
  x86src: /root/pkgs/packages-x86.tar.gz
pacakges:
  etcd:
  - name: etcd
    type: repo
  master:
  - name: kubernetes-client
    type: repo
  - name: kubernetes-master
    type: repo
  - name: coredns
    type: pkg
  - name: addons
    type: binary
    dstpath: /etc/kubernetes
  node:
  - name: kubernetes-client
    type: repo
  - name: kubernetes-node
    type: repo
  - name: kubernetes-kubelet
    type: repo
  - name: conntrack-tools
    type: repo
  - name: socat
    type: repo
  - name: containernetworking-plugins
    type: repo
  - name: iSulad
    type: repo
